{% extends 'base.html.twig' %}

{% block body %}
	<section id="bighead">
	    <div class="container">
		    <div class="row">
	          <div class="col-md-5">
	          	<div class="wrapper option animate fadeInDown">
	            	<h1 class="">HEALTHY LIVING ENVIRONMENT</h1>
	            </div>
	             <div class="col-md-12 overlay-detail">
	              		<a href="#NUP">GET YOUR NUP</a>
	              </div>
	          </div>
	        </div>
	        <div class="row">
		         
		    </div>
		    <div id="content-text">
		    </div>
		</div>
    </section>
    <section id="content">
	    <div class="container">
		    <div class="row">
		      <div class="col-md-8 col-md-offset-2">
		      	<h3 class="wow fadeInDown" style="text-align: center;">Cara Natural dalam Hidup</h3>
		      	<p>
		      		Green Bamboo Terrace dirancang dengan kualitas material bangunan yang berkualitas dengan lingkungan asri alam sekitarnya.
					Mendefinisikan kembali arti hunian yang berpadu dengan ketenangan alam hingga tercipta hunian yang ramah lingkungan.
		      	</p>
		      	<hr>
		      </div>
		    </div>
	     </div>
    </section>
    <section>
    	<div class="container">
    		<div class="row">
    			<div class="col-md-12">
		    		<div class="row">
		    			<div class="col-xs-6 col-md-3" style="margin-bottom: 25px;">
		    				<center>
			    				<img class="img-circle" style="max-width: 65%;" src="{{ asset('assets/img/amenities/AirKeran.png') }}">
			    				<p class="lead" style="text-align: center;">Air Bisa langsung diminum dari Kran</p>
			    			</center>
		    			</div>
		    			<div class="col-xs-6 col-md-3" style="margin-bottom: 25px;">
		    				<center>
		    					<img class="img-circle" style="max-width: 65%;" src="{{ asset('assets/img/amenities/cctv.png') }}">
		    					<p class="lead" style="text-align: center;">Security CCTV System 24 Jam</p>
		    				</center>
		    			</div>
		    			<div class="col-xs-6 col-md-3" style="margin-bottom: 25px;">
		    				<center>
		    					<img class="img-circle" style="max-width: 65%;" src="{{ asset('assets/img/amenities/Gate.png') }}">
		    					<p class="lead" style="text-align: center;">Gerbang keluar masuk terkontrol</p>
		    				</center>
		    			</div>
		    			<div class="col-xs-6 col-md-3" style="margin-bottom: 25px;">
		    				<center>
		    					<img class="img-circle" style="max-width: 65%;" src="{{ asset('assets/img/amenities/GreenHome.png') }}">
		    					<p class="lead" style="text-align: center;">Rumah dengan Konsep sehat dan hijau
		    				</center>
		    			</div>
		    		</div>
		    		<div class="row">
		    			<div class="col-xs-6 col-md-3" style="margin-bottom: 25px;">
		    				<center>
		    					<img class="img-circle" style="max-width: 65%;" src="{{ asset('assets/img/amenities/Location.png') }}">
		    					<p class="lead" style="text-align: center;">Lokasi Strategis di Kota Bogor</p>
		    				</center>
		    			</div>
		    			<div class="col-xs-6 col-md-3" style="margin-bottom: 25px;">
		    				<center>
		    					<img class="img-circle" style="max-width: 65%;" src="{{ asset('assets/img/amenities/material.png') }}">
		    					<p class="lead" style="text-align: center;">Material menggunakan bahan nomer 1</p>
		    				</center>
		    			</div>
		    			<div class="col-xs-6 col-md-3" style="margin-bottom: 25px;">
		    				<center>
		    					<img class="img-circle" style="max-width: 75%;" src="{{ asset('assets/img/amenities/Playground.png') }}">
		    					<p class="lead" style="text-align: center;">Lingkungan yang ramah bagi anak</p>
		    				</center>
		    			</div>
		    			<div class="col-xs-6 col-md-3" style="margin-bottom: 25px;">
		    				<center>
		    					<img class="img-circle" style="max-width: 75%;" src="{{ asset('assets/img/amenities/Sertifikat.png') }}">
		    					<p class="lead" style="text-align: center;">SHM sudah Per Rumah</p>
		    				</center>
		    			</div>
		    		</div>
		    	</div>
	    	</div>
    	</div>
    </section>
    <section id="content-brand">
	    <div class="container">
		    <div class="row">
			      <div class="col-md-6 wow fadeInDown" data-wow-duration="1.5s" style="visibility: hidden">
			        <img class="img-responsive" src="{{ asset('assets/img/Type-A.jpg') }}">
			      </div>
			      <div class="col-md-5">
			      	<h3>Type A</h3>
			      	<p>
			      		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
			      	</p>
			      	<a href="" class="btn btn-default">See More <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
			      </div>
		    </div>
		    
		    <div class="row">
			      <div class="col-sm-12 col-md-6 col-md-push-6 wow fadeInDown" data-wow-duration="1.5s" data-wow-delay="0.02s" style="visibility: hidden">
			        <img class="img-responsive" src="{{ asset('assets/img/Type-B.jpg') }}">
			      </div>
			      <div class="col-sm-12 col-md-5 col-md-pull-5">
			      	<h3>Type B</h3>
			      	<p>
			      		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam 
			      	</p>
			      	<a href="" class="btn btn-default">See More <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
			      </div>
		    </div>
		    
		    <div class="row">
			      <div class="col-md-6 wow fadeInDown" data-wow-duration="1.5s" data-wow-delay="0.02s" style="visibility: hidden">
			        <img class="img-responsive" src="{{ asset('assets/img/Type-C.jpg') }}">
			      </div>
			      <div class="col-md-5">
			      	<h3>Type C</h3>
			      	<p>
			      		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
			      	</p>
			      	<a href="" class="btn btn-default">See More <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
			      </div>
		    </div>
		    
	    </div>
    </section>

    <section style="position: relative;" class="hidden-sm hidden-xs hidden-md" id="NUP">
		<div class="container">    	
			<div class="row">
			   <div class="col-md-4 content wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.002s" style="visibility: hidden" id="container">
			   		<h4 style="text-align: center;">Get Your NUP Now!</h4>
				   	<p style="text-align: center;">NUP: IDR 5,000,000</p>
			    	<form id="send-inquiry" action="{{ path('send_inquiry') }}" method="post" role="form" class="contactForm">
					  <div class="col-md-12">
						<div class="form">
						  <div class="form-group">
							<input type="text" name="nama" class="form-control" id="nama" required="required" placeholder="Nama Anda" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
							<div class="validation"></div>
						  </div>
						  <div class="form-group">
							<input type="email" class="form-control" name="email" id="email" required = "required" placeholder="E-Mail Anda" data-rule="email" data-msg="Please enter a valid email" />
							<div class="validation"></div>
						  </div>
						  <div class="form-group">
							<input type="text" class="form-control" name="phone" id="phone" required = "required" placeholder="No. Telp Anda" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
							<div class="validation"></div>
						  </div>
						  <div class="text-center"><input type="submit" class="btn btn-theme" value="Kirim"></div>
						</div>
					  </div>
					</form>
			   </div>
			</div>  
		</div>
		<div id="map"></div> 
	</section>
{% endblock body %}
{% block javascripts %}
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeab5YNirebzfm3JeD5QQIFooi-_7JLqo&callback=initMap"></script>
	<script type="text/javascript">
		function initMap() {
		  	var latlong = { lat: -6.629050, lng: 106.825088 };
		  	var map = new google.maps.Map(document.getElementById('map'), {
		    	zoom: 15,
		    	center: latlong
		  	});
		  	var marker = new google.maps.Marker({
		    	position: latlong,
		    	map: map
		  	});
		}
	</script>
<script type="text/javascript">
	$(document).ready(function(){
		var frm = $("#send-inquiry");

		frm.submit(function (e) {
		$('.loading').show();

			e.preventDefault();

			$.ajax({
				type: frm.attr('method'),
				url: frm.attr('action'),
				data: frm.serialize(),
				success: function (data) {
					$('#alert-email').show();
					$('.loading').hide();
				},
				error: function (data) {
					console.log('An error occurred.');
					console.log(data);
				},
			});
		});
	});
</script>
{% endblock javascripts %}